---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: default
  labels:
    app.kubernetes.io/name: n8n
    app.kubernetes.io/instance: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: n8n
      app.kubernetes.io/instance: n8n
  template:
    metadata:
      labels:
        app.kubernetes.io/name: n8n
        app.kubernetes.io/instance: n8n
    spec:
      containers:
        - name: n8n
          image: n8nio/n8n:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 5678
              protocol: TCP
          env:
            - name: DB_TYPE
              value: sqlite
            - name: N8N_SECURE_COOKIE
              value: "false"
            - name: N8N_EDITOR_BASE_URL
              value: https://n8n.virtual-dev.com/
            - name: WEBHOOK_URL
              value: https://n8n.virtual-dev.com/
            - name: GENERIC_TIMEZONE
              value: UTC
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              memory: 512Mi
          volumeMounts:
            - name: data
              mountPath: /home/node/.n8n
      volumes:
        - name: data
          emptyDir: {}
