---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  chartRef:
    kind: OCIRepository
    name: n8n
  interval: 1h
  values:
    replicaCount: 1
    image:
      repository: n8nio/n8n
      tag: latest
    env:
      - name: DB_TYPE
        value: sqlite
      - name: N8N_SECURE_COOKIE
        value: "false"
      - name: N8N_EDITOR_BASE_URL
        value: https://n8n.${SECRET_DOMAIN}/
      - name: WEBHOOK_URL
        value: https://n8n.${SECRET_DOMAIN}/
      - name: GENERIC_TIMEZONE
        value: UTC
    persistence:
      enabled: true
      storageClassName: local-path
      accessMode: ReadWriteOnce
      size: 10Gi
      mountPath: /home/node/.n8n
    service:
      type: ClusterIP
      port: 80
      targetPort: 5678
    ingress:
      enabled: true
      className: envoy
      hosts:
        - host: n8n.${SECRET_DOMAIN}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: n8n-tls
          hosts:
            - n8n.${SECRET_DOMAIN}
    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 256Mi
