---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: n8n
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/apps/default/n8n/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  patches:
    - patch: |-
        apiVersion: gateway.networking.k8s.io/v1
        kind: HTTPRoute
        metadata:
          name: n8n
        spec:
          hostnames:
            - n8n.virtual-dev.com
      target:
        group: gateway.networking.k8s.io
        kind: HTTPRoute
        name: n8n
        namespace: default
